body
{ background-color: #777;
    font-family:Helvetica,Arial,sans-serif;  
    width: 960px;
    font-size: 18px;
    text-align: center;
    margin-left: 375px;
    
}




header
{
text-align: center;
background-color: #ebebeb;
padding: 30px;
margin-bottom: 10px;
}
nav 
{
    text-align: center;
    background-color: #ebebeb;
    padding: 30px;
    margin-bottom: 20px;
}
section {
    float: left;
    background-color: #ebebeb;
    width: 495px;
    padding: 50px;
    margin-bottom: 20px;
    height: 200px;
    
  }
  aside
  {        
    margin-top: 20px;    
    margin-left: 615px;
    background-color:  #ebebeb;
    width: 345px;
    height: 300px;
    margin-bottom: 20px;
    
 }
 article
 {
     margin-left: -40px;
     height: 200px;
     width: 555px;
     background-color: #777;
     margin-bottom: 10px;
     padding:10px;

 }
 h1{
     background-color: #777;
 }
p
{
    background-color: red;
}
footer 
{
    text-align: center;
    position: relative;
    background-color: #ebebeb;
    padding: 30px;
    margin-bottom: 10px;
    bottom: 0px;
    clear: left;
}


